* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    height: 75px;

}


body {
    background-color: rgba(211, 211, 211, .3)
}

.logo {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    display: inline-block;
}

.title {
    font-size: 45px;
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background-color: white;
}

.buttons-section {
    margin-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px
}

button {
    padding: 5px;
    border-radius: 5px;
}

.task-adder {
    background-color: #47adf1;
    color: white;
    border: #47adf1;
}

.section-adder {
    background-color: white;
    color: lightgrey;
    border: lightgrey;
}

.button {
    font-weight: bold;
    border: 1px solid;
}

hr {
    color: rgba(211, 211, 211, .3)
}

.to-do-list {
    margin: 50px;
}

ul {
    list-style: none;
}

h2 {
    display: inline-block;
}

.task-type {
    margin: 50px;
}

.task {
    margin: 25px;
}